* {
  box-sizing: border-box;
  transition: all 0.03s linear;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

html {
  overflow: auto !important;
}

.max-width {
  width: 100% !important;
  max-width: 100% !important;
}

.max-height {
  height: 100% !important;
  max-height: 100% !important;
}

.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
}
